{% extends 'base.html.twig' %}

{% set page_header = 'Планы продаж' %}

{% block body %}
    <div class="container">
        <div class="panel-group">
            {% for plan_data in plans_by_timetable %}
                {% set timetable = plan_data.timetable %}
                {% set plans = plan_data.plans %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>{{ timetable.name }}</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>Имя</th>
                                <th>План</th>
                                <th class="col-md-3">&nbsp;</th>
                            </tr>
                            {% for plan in plans %}
                                <tr>
                                    <td>{{ plan.user.fullname }}</td>
                                    <td>{{ plan.amount|number_format(2, '.', ' ') }}</td>
                                    <td>
                                        <a href="{{ path('plan_update', {'plan': plan.id}) }}" class="btn-sm btn btn-default">Редактировать</a>
                                        <a href="{{ path('plan_delete', {'plan': plan.id}) }}" class="btn-sm btn btn-danger">Удалить</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('plan_create', {'timetable': timetable.id}) }}" class="btn btn-primary">Добавить план</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
