<form>
    <div class="panel panel-default">
        <div class="panel-heading"><h4>Установка планов продаж</h4></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group form-inline">
                        <label class="form-check-label">План по марже</label>
                        <input type="checkbox" name="margin_plan" id="{{ timetable.marginPlan ? 'test1' : 'test2' }}" {{ timetable.marginPlan ? 'checked' : '' }} class="form-check-input" id="exampleCheck1">
                    </div>
                </div>
            </div>
            <table class="table">
                <tr>
                    <th class="col-md-8">Менеджеры отдела продаж</th>
                    <th class="col-md-4">План</th>
                </tr>
                {% for user in users %}
                    <tr>
                        <td>{{ user.fullname }}</td>
                        <td><input type="text" name="plans[{{ user.id }}]" value="{{ plans_by_user[user.id].amount|default(0) }}"> </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
        <div class="panel-footer" style="text-align: center">
            <button id="save_plan" class="btn btn-success">Установить</button>
        </div>
    </div>
</form>