{% macro manager_report(report, i, list_mode) %}
    {% set customer_summary_data = report.customer_summary_data %}
    {% set provider_summary_data = report.provider_summary_data %}
    {% set customer_manager_data = report.customer_manager_data %}
    {% set provider_manager_data = report.provider_manager_data %}
    {% set i = i|default(0) %}

    <div class="row">
        {% if list_mode %}
            <ul class="nav nav-pills" style="margin: 10px;">
                <li class="active"><a data-toggle="pill" href="#customer_manager-{{ i }}">Менеджеры по продажам</a></li>
                <li><a data-toggle="pill" href="#provider_manager-{{ i }}">Менеджеры по снабжению</a></li>
            </ul>
            {% set tab_class = 'tab-pane fade' %}
        {% else %}
            {% set tab_class = '' %}
        {% endif %}
        <div class="tab-content" style="margin-top: 10px;">
            {% if customer_manager_data %}
                <div id="customer_manager-{{ i }}" class="{{ tab_class }} in active">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th class="col-md-1">Заказчиков</th>
                            <th class="col-md-1">Выполнение<br>плана продаж</th>
                            <th class="col-md-1">Наработка</th>
                            {% if is_granted('ROLE_GENERAL_MANAGER') %}
                                <th class="col-md-1">Маржа</th>
                            {% endif %}
                            <th class="col-md-1">Маржа, %</th>
                            <th class="col-md-1">Бонус</th>
                            <th class="col-md-2">Сумма задолженностей (за все время)</th>
                        </tr>
                        {% if customer_summary_data %}
                            <tr>
                                <th colspan="2" style="text-align: right">Всего:</th>
                                <th class="nowrap">{{ customer_summary_data.plan_completed_percent~'%' }}</th>
                                <th class="nowrap">{{ customer_summary_data.salary|number_format(2, '.', ' ') }}</th>
                                {% if is_granted('ROLE_GENERAL_MANAGER') %}
                                    <th class="nowrap">{{ customer_summary_data.margin_sum|number_format(2, '.', ' ') }}</th>
                                {% endif %}
                                <th class="nowrap">{{ customer_summary_data.margin_percent|number_format(2, '.', ' ') }}</th>
                                <th class="nowrap">{{ customer_summary_data.bonus|number_format(2, '.', ' ') }}</th>
                                <th>&nbsp;</th>
                            </tr>
                        {% endif %}
                        </thead>
                        <tbody>
                        {% for customer_row in customer_manager_data %}
                            <tr>
                                <td>
                                    <a href="{{ customer_row.detail_url }}">
                                        {{ customer_row.fio }}
                                    </a>
                                </td>
                                <td>{{ customer_row.contractors }}</td>
                                <td class="nowrap">{{ customer_row.plan_completed_percent~'%' }}</td>
                                <td class="nowrap">{{ customer_row.salary|number_format(2, '.', ' ') }}</td>
                                {% if is_granted('ROLE_GENERAL_MANAGER') %}
                                    <td class="nowrap">{{ customer_row.margin_sum|number_format(2, '.', ' ') }}</td>
                                {% endif %}
                                <td class="nowrap">{{ customer_row.margin_percent|number_format(2, '.', ' ') }}</td>
                                <td class="nowrap">{{ customer_row.bonus|number_format(2, '.', ' ') }}</td>
                                <td class="nowrap">{{ customer_row.balance_negative|number_format(2, '.', ' ') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            {% endif %}
            {% if provider_manager_data %}
                <div id="provider_manager-{{ i }}" class="{{ tab_class }}">
                    <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>ФИО</th>
                            <th class="col-md-1">Поставщиков</th>
                            <th class="col-md-1">Наработка</th>
                            {% if is_granted('ROLE_GENERAL_MANAGER') %}
                                <th class="col-md-1">Маржа</th>
                            {% endif %}
                            <th class="col-md-1">Маржа, %</th>
                            <th class="col-md-1">Бонус</th>
                            <th class="col-md-2">Сумма задолженностей (за все время)</th>
                        </tr>
                        {% if provider_summary_data %}
                            <tr>
                                <th colspan="2" style="text-align: right">Всего:</th>
                                <th class="nowrap">{{ provider_summary_data.salary|number_format(2, '.', ' ') }}</th>
                                {% if is_granted('ROLE_GENERAL_MANAGER') %}
                                    <th class="nowrap">{{ provider_summary_data.margin_sum|number_format(2, '.', ' ') }}</th>
                                {% endif %}
                                <th class="nowrap">{{ provider_summary_data.margin_percent|number_format(2, '.', ' ') }}</th>
                                <th class="nowrap">{{ provider_summary_data.bonus|number_format(2, '.', ' ') }}</th>
                                <th>&nbsp;</th>
                            </tr>
                        {% endif %}
                        </thead>
                        <tbody>
                        {% for provider_row in provider_manager_data %}
                            <tr>
                                <td>
                                    <a href="{{ provider_row.detail_url }}">
                                        {{ provider_row.fio }}
                                    </a>
                                </td>
                                <td>{{ provider_row.contractors }}</td>
                                <td class="nowrap">{{ provider_row.salary|number_format(2, '.', ' ') }}</td>
                                {% if is_granted('ROLE_GENERAL_MANAGER') %}
                                    <td class="nowrap">{{ provider_row.margin_sum|number_format(2, '.', ' ') }}</td>
                                {% endif %}
                                <td class="nowrap">{{ provider_row.margin_percent|number_format(2, '.', ' ') }}</td>
                                <td class="nowrap">{{ provider_row.bonus|number_format(2, '.', ' ') }}</td>
                                <td class="nowrap">{{ provider_row.balance_negative|number_format(2, '.', ' ') }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}