{% extends 'base.html.twig' %}
{% import '@App/macros.html.twig' as macros %}

{% set page_title = 'Эффективность' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>{{ page_title }}</h2>
        </div>
        <div class="row">
            {{ form_start(timetable_filter, {'attr': {'class': 'form-inline'}}) }}
            {{ form_rest(timetable_filter) }}
            <button class="btn btn-primary form-control" type="submit">Показать</button>
            {{ form_end(timetable_filter) }}
        </div>
        {% if report %}
            {{ macros.manager_report(report, 0, true) }}
        {% endif %}
        {% if report_by_organisations %}
            {% for i, report_by_organisation in report_by_organisations %}
                <h3>{{ report_by_organisation.organisation.name }}</h3>
                {{ macros.manager_report(report_by_organisation.report, i, true) }}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}