{% extends 'base.html.twig' %}
{% import _self as macros %}

{% macro provide_report(report) %}
    <div class="row" style="margin-top: 10px;">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Месяц</th>
                <th>Поставщик</th>
                <th>Наработка</th>
                <th>Баланс (среднее)</th>
            </tr>
            <tr>
                <th colspan="2" style="text-align: right">Всего:</th>
                <th>{{ report.salary|number_format(2, '.', ' ') }}</th>
                <th>{{ report.balance|number_format(2, '.', ' ') }}</th>
            </tr>
            </thead>
            <tbody>
            {% for data in report.reports %}
                <tr>
                    <td>{{ data.timetable.name }}</td>
                    <td><a class="nostyle" href="{{ path('contractor_view', {'contractor': data.contractor.id}) }}">{{ data.contractor.name }}</a></td>
                    <td>{{ data.salary|number_format(2, '.', ' ') }}</td>
                    <td class="{{ data.balance < 0 ? 'bg-red text-white' : '' }}">
                        {{ data.balance|number_format(2, '.', ' ') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% set page_title = 'Отчет по снабжению' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>{{ page_title }}</h2>
        </div>
        <div class="row">
            {{ form_start(timetable_filter) }}
            <div class="col-md-3">{{ form_row(timetable_filter.timetable_from) }}</div>
            <div class="col-md-3">{{ form_row(timetable_filter.timetable_to) }}</div>
            <div class="col-md-3">{{ form_row(timetable_filter.contractor) }}</div>
        </div>
        <div class="row">
            <div class="col-md-3">{{ form_row(timetable_filter.by_organisations) }}</div>
            <div class="col-md-3">
                <button class="btn btn-primary form-control" type="submit">Показать</button>
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3 text-right">
                <button type="button" class="btn btn-primary export-button">
                    Экспорт
                </button>
            </div>
        </div>
        {{ form_end(timetable_filter) }}
        {% for report in reports %}
            {% if report.organisation %}
                <h3>{{ report.organisation.name }}</h3>
            {% endif %}

            {{ macros.provide_report(report) }}
        {% endfor %}

    </div>
{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>
        $('.export-button').click(function () {
            let formData = $('form[name=report_provide_filter]').serialize();

            formData += '&_format=xls';

            console.log(formData);

            location.href = '{{ path('report_provide') }}?' + formData;
        });
    </script>
{% endblock %}
