{% extends 'base.html.twig' %}

{% set page_title = 'Отчет по продажам' %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>{{ page_title }}</h2>
        </div>
        <div class="row">
            {{ form_start(timetable_filter) }}
            <div class="col-md-3">{{ form_row(timetable_filter.timetable) }}</div>
            <div class="col-md-3">{{ form_row(timetable_filter.manager) }}</div>
            <div class="col-md-3">{{ form_row(timetable_filter.customer) }}</div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-control-label">&nbsp;</label>
                    <button class="btn btn-primary form-control" type="submit">Показать</button>
                </div>
            </div>
            {{ form_end(timetable_filter) }}
        </div>
        {% if sales_data %}
            <div class="row" style="margin-top: 10px;">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>Менеджер</th>
                        <th>Заказчик</th>
                        <th>Наработка</th>
                        <th>Баланс</th>
                        <th>Маржа</th>
                        <th>Маржа, %</th>
                    </tr>
                    {% if summary_data %}
                        <tr>
                            <th colspan="2" style="text-align: right">Всего:</th>
                            <th>{{ summary_data.salary|number_format(2, '.', ' ') }}</th>
                            <th>{{ summary_data.balance|number_format(2, '.', ' ') }}</th>
                            <th>{{ summary_data.margin_sum|number_format(2, '.', ' ') }}</th>
                            <th>{{ summary_data.margin_percent|number_format(2, '.', ' ') }}</th>
                        </tr>
                    {% endif %}
                    </thead>
                    <tbody>
                    {% for data in sales_data %}
                        <tr>
                            <td>{{ data.manager }}</td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.salary|number_format(2, '.', ' ') }}</td>
                            <td class="{{ data.balance < 0 ? 'bg-red text-white' : '' }}">
                                {{ data.balance|number_format(2, '.', ' ') }}
                            </td>
                            <td>{{ data.margin_sum|number_format(2, '.', ' ') }}</td>
                            <td>{{ data.margin_percent|number_format(2, '.', ' ') }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
        </div>
{% endblock %}