{% extends 'base.html.twig' %}
{% import _self as macros %}

{% set page_title = 'Отчет по продажам' %}

{% macro sale_report(report) %}
    <div class="row" style="margin-top: 10px;">
        <table class="table table-striped table-bordered table-report">
            <thead>
            <tr>
                <th>Месяц</th>
                {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                    <th>Менеджер</th>
                {% endif %}
                <th>Заказчик</th>
                <th>Наработка</th>
                <th>Баланс (среднее)</th>
                {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                    {% if is_granted('ROLE_GENERAL_MANAGER') %}
                        <th class="margin-col" style="display: none;">Маржа</th>
                    {% endif %}
                    <th class="margin-col" style="display: none;">Маржа, %</th>
                {% endif %}
            </tr>
            <tr>
                {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                    <th colspan="3" style="text-align: right">Всего:</th>
                {% else %}
                    <th colspan="2" style="text-align: right">Всего:</th>
                {% endif %}
                <th>{{ report.salary|number_format(2, '.', ' ') }}</th>
                <th>{{ report.balance|number_format(2, '.', ' ') }}</th>
                {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                    {% if is_granted('ROLE_GENERAL_MANAGER') %}
                        <th class="margin-col" style="display: none;">{{ report.marginSum|number_format(2, '.', ' ') }}</th>
                    {% endif %}
                    <th class="margin-col" style="display: none;">{{ report.marginPercent|number_format(2, '.', ' ') }}</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            {% for id, report_object in report.reports %}
                <tr class="{{ report_object.balance < 0 ? 'is-debt' : '' }}">
                    <td>{{ report_object.timetable.name }}</td>
                    {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                        <td>{{ report_object.contractor.manager.fullName|default }}</td>
                    {% endif %}
                    <td><a class="nostyle" href="{{ path('contractor_view', {'contractor': report_object.contractor.id}) }}">{{ report_object.contractor.name }}</a></td>
                    <td>{{ report_object.salary|number_format(2, '.', ' ') }}</td>
                    <td class="{{ report_object.balance < 0 ? 'bg-red text-white' : '' }}">
                        {{ report_object.balance|number_format(2, '.', ' ') }}
                    </td>
                    {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                        {% if is_granted('ROLE_GENERAL_MANAGER') %}
                            <td class="margin-col" style="display: none;">{{ report_object.marginSum|number_format(2, '.', ' ') }}</td>
                        {% endif %}
                        <td class="margin-col" style="display: none;">{{ report_object.marginPercent|number_format(2, '.', ' ') }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endmacro %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h2>{{ page_title }}</h2>
        </div>
        <div class="row">
            {{ form_start(timetable_filter) }}
            <div class="row">
                <div class="col-md-3">{{ form_row(timetable_filter.timetable_from) }}</div>
                <div class="col-md-3">{{ form_row(timetable_filter.timetable_to) }}</div>
                {% if timetable_filter.manager is defined %}
                    <div class="col-md-3">{{ form_row(timetable_filter.manager) }}</div>
                {% endif %}
                <div class="col-md-3">{{ form_row(timetable_filter.customer) }}</div>
            </div>
            <div class="row">
                <div class="col-md-4">{{ form_row(timetable_filter.by_organisations) }}</div>
                <div class="col-md-4">
                    <div class="form-group">
                        <button class="btn btn-primary form-control" type="submit">Показать</button>
                    </div>
                </div>
            </div>

            {{ form_end(timetable_filter) }}
        </div>
        <div class="row">
            <div class="btn-group" role="group">
                {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                    <button class="btn btn-success margin-checker">
                        <i class="state-icon glyphicon glyphicon-unchecked"></i>
                        Показать маржу
                    </button>
                {% endif %}
                <button class="btn btn-warning debt-checker">
                    <i class="state-icon glyphicon glyphicon-unchecked"></i>
                    Только с долгом
                </button>
            </div>
        </div>
        {% for report in reports %}
            {% if report.organisation %}
                <h3>{{ report.organisation.name }}</h3>
            {% endif %}

            {{ macros.sale_report(report) }}
        {% endfor %}
        </div>
{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>
        $('.margin-checker').click(function() {
            var checked = $('i', $(this)).hasClass('glyphicon-check');

            if (checked) {
                $('i', $(this)).removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                $('.table-report .margin-col').hide()
            } else {
                $('i', $(this)).removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                $('.table-report .margin-col').show()
            }
        });

        $('.debt-checker').click(function () {
            var checked = $('i', $(this)).hasClass('glyphicon-check');

            if (checked) {
                $('i', $(this)).removeClass('glyphicon-check').addClass('glyphicon-unchecked');
                $('.table-report tbody tr').show()
            } else {
                $('i', $(this)).removeClass('glyphicon-unchecked').addClass('glyphicon-check');
                $('.table-report tbody tr:not(.is-debt)').hide()
            }
        })
    </script>
{% endblock %}