<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{{ page_title|default(page_header|default) }}</title>
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('css/custom.css') }}" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header" style="position:relative;">
                    {% set nav_timetables = get_timetables() %}
                    <a href="#"
                       class="dropdown-toggle navbar-brand"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false"
                    >
                        {{ nav_timetables.current.name }} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        {% for nav_timetable in nav_timetables.list %}
                            <li><a href="{{ path('homepage', {'id': nav_timetable.id}) }}">{{ nav_timetable.name }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <ul class="nav navbar-nav">
                    {% if not is_granted('ROLE_DISPATCHER') %}
                        <li>
                            <a href="{{ path('contractor_list') }}">Контрагенты</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Настройки <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="{{ path('user_list') }}">Пользователи</a>
                                </li>
                                <li>
                                    <a href="{{ path('plan_index') }}">Планы продаж</a>
                                </li>
                                <li>
                                    <a href="{{ path('organisation_list') }}">Организации</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER')
                        or is_granted('ROLE_PROVIDER_MANAGER')
                        or is_granted('ROLE_CUSTOMER_MANAGER')
                    %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                Отчеты <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                {% if is_granted('ROLE_MANAGER') %}
                                    <li><a href="{{ path('report_manager') }}">По менеджерам</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_CUSTOMER_MANAGER') %}
                                    <li><a href="{{ path('report_sale') }}">По продажам</a></li>
                                {% endif %}
                                {% if is_granted('ROLE_MANAGER') or is_granted('ROLE_PROVIDER_MANAGER') %}
                                    <li><a href="{{ path('report_provide') }}">По снабжению</a></li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text">{{ app.user.fullname }}</p></li>
                    <li><a href="{{ path('logout') }}">Выход</a></li>
                </ul>
            </div>
        </nav>
        <div class="container-fluid" style="margin-top: 50px;">
            {% if page_header|default %}
                <div class="page-header">
                    <h2>{{ page_header|default }}</h2>
                </div>
            {% endif %}
            <div id="fixed_alerts">
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{{ label }}">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>

            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
