{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Информация о записи</div>
            <div class="panel-body">
                {{ form_errors(form) }}
                {% if form.contractor is defined %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.contractor) }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.amount) }}
                        {{ form_row(form.date) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.comment) }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                {{ form_widget(form.save)}}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}