{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Информация о записи</div>
            <div class="panel-body">
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.object) }}
                        {{ form_row(form.mechanism) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.comment) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.organization) }}
                    </div>
                    <div class="col-md-6">
                        {% if form.showAllProviders is defined %}
                            {{ form_row(form.showAllProviders, {'attr': {'style': 'margin-top: 30px;'}}) }}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.customer) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.price_for_customer) }}
                    </div>
                </div>
                {% if form.provider is defined %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.provider) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.price_for_provider) }}
                        </div>
                    </div>
                {% endif %}
                {% if form.manager is defined %}
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.manager) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.providerManager) }}
                        </div>
                    </div>
                {% endif %}
            </div>
            <div class="panel-footer">
                {{ form_widget(form.save)}}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>
        $(function() {
            var select2Init = function() {
                $('.timetable-row-contractor').each(function() {
                    var data = {
                        type: $(this).hasClass('provider') ? 'provider' : 'customer'
                    };

                    if ($(this).hasClass('customer') || $('#showAllProviders').is(':not(:checked)')) {
                        data.organization = $('#organization').val();
                    }

                    $(this).select2({
                        ajax: {
                            url: Routing.generate('contractor_ajax_search'),
                            data: data
                        }
                    });
                });
            };

            $('#organization').change(select2Init);
            $('#showAllProviders').change(select2Init);
            select2Init();
        });
    </script>
{% endblock %}