{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Информация о пользователе</div>
            <div class="panel-body">
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.username) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.roles) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.plainPassword.first) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.plainPassword.second) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        {{ form_row(form.lastname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.firstname) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_row(form.surname) }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                {{ form_widget(form.save)}}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
