{% extends 'base.html.twig' %}

{% set page_header = 'Контрагенты' %}

{% block body %}
    <div class="container">
        {% if form.children|length > 0 %}
            {{ form_start(form, {'attr': {'class': 'form-inline'}}) }}
            <div class="row" style="margin-bottom: 5px;">
                {{ form_widget(form.keyword) }}
                {{ form_widget(form.organisation) }}
                {% if form.type is defined %}
                    {{ form_widget(form.type) }}
                {% endif %}
                {% if form.manager is defined %}
                    {{ form_widget(form.manager) }}
                {% endif %}
                {{ form_rest(form) }}
            </div>
            <div class="row" style="margin-bottom: 20px;">
                <button class="btn btn-primary form-control" type="submit">Фильтр</button>
                <a href="{{ path('contractor_list') }}">Сбросить</a>
            </div>
            {{ form_end(form) }}
        {% endif %}
        <div class="row">
            <div class="btn-group pull-right" role="group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Добавить контрагента
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    {% if not is_granted('ROLE_PROVIDER_MANAGER') %}
                        <li><a href="{{ path('contractor_create', {'type': 'customer'}) }}">Заказчика</a></li>
                    {% endif %}
                    {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                        <li><a href="{{ path('contractor_create', {'type': 'provider'}) }}">Поставщика</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Организация</th>
                <th>ИНН</th>
                <th>Тип контрагента</th>
                <th>Менеджер по продажам</th>
                <th class="col-md-1">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for contractor in pagination %}
                <tr>
                    <td>{{ contractor.id }}</td>
                    <td><a href="{{ path('contractor_view', {'contractor': contractor.id, 'redirect_to': app.request.uri}) }}">{{ contractor.name }}</a></td>
                    <td>{{ contractor.organisation.name|default }}</td>
                    <td>{{ contractor.inn }}</td>
                    <td>{{ contractor.type == 'provider' ? 'Поставщик' : contractor.type == 'customer' ? 'Заказчик' : '' }}</td>
                    <td>
                        {% if contractor.manager %}
                            {{ contractor.manager.fullname }}
                        {% endif %}
                    </td>
                    <td>
                        <a href="{{ path('contractor_update', {'contractor': contractor.id, 'redirect_to': app.request.uri}) }}" class="btn-sm btn btn-default">Редактировать</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>

{% endblock %}
