{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {{ form_start(form) }}
        <div class="panel panel-default">
            <div class="panel-heading">Информация о контрагенте</div>
            <div class="panel-body">
                {{ form_errors(form) }}
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.name) }}
                        {% if form.manager is defined %}
                            {{ form_row(form.manager) }}
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.inn) }}
                        {{ form_row(form.organisation) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4>Общая информация</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.brand) }}
                        {{ form_row(form.businessAddress) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.physicalAddress) }}
                        {{ form_row(form.site) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.bitrix24Id) }}
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                {{ form_widget(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}