{% extends 'base.html.twig' %}

{% set page_header = timetable.name %}

{% block body %}
    <div class="clearfix">
        <div class="btn-group pull-right" role="group">
            <a class="btn btn-primary" href="{{ path('timetable_row_create') }}">
                Добавить запись
            </a>
        </div>
    </div>
    <div class="row" style="margin: 10px 0 0;">
    <table class="timetable">
        <thead>
        <tr>
            <th class="timetable-fixed-cell controls">&nbsp;</th>
            {% for column in columns %}
                {% set class = column %}
                {% if column in fixed_columns %}
                    {% set class = class ~ ' timetable-fixed-cell' %}
                {% endif %}
                {% if column == 'manager' %}
                    <th class="{{ class }}">Менеджер</th>
                {% elseif column == 'customer' %}
                    <th class="{{ class }}">Заказчик</th>
                {% elseif column == 'provider' %}
                    <th class="{{ class }}">Поставщик</th>
                {% elseif column == 'object' %}
                    <th class="{{ class }}">Объект</th>
                {% elseif column == 'mechanism' %}
                    <th class="{{ class }}">Механизм</th>
                {% elseif column == 'comment' %}
                    <th class="{{ class }}">Комментарий</th>
                {% elseif column == 'price_for_customer' %}
                    <th class="{{ class }}">Цена<br>заказчику<br>маш/ч</th>
                {% elseif column == 'price_for_provider' %}
                    <th class="{{ class }}">Цена<br>поставщика<br>маш/ч</th>
                {% elseif column == 'sum_times' %}
                    <th class="{{ class }}">Сумма<br>часов</th>
                {% elseif column == 'times' %}
                    {% for i in 1..31 %}
                        <th class="{{ class ~ (i == 16 ? ' bold-border' : '') }}">{{ i }}</th>
                    {% endfor %}
                {% elseif column == 'customer_salary' %}
                    <th class="{{ class }}">Наработка<br>заказчика</th>
                {% elseif column == 'provider_salary' %}
                    <th class="{{ class }}">Наработка<br>поставщика</th>
                {% elseif column == 'customer_paid' %}
                    <th class="{{ class }}">Оплачено<br>заказчиком</th>
                {% elseif column == 'customer_balance' %}
                    <th class="{{ class }}">Баланс<br>заказчика</th>
                {% elseif column == 'provider_paid' %}
                    <th class="{{ class }}">Оплачено<br>поставщику</th>
                {% elseif column == 'provider_balance' %}
                    <th class="{{ class }}">Баланс<br>поставщика</th>
                {% elseif column == 'margin_sum' %}
                    <th class="{{ class }}">Маржа,<br>сумма</th>
                {% elseif column == 'margin_percent' %}
                    <th class="{{ class }}">Маржа,<br>%</th>
                {% endif %}
            {% endfor %}
        </tr>
        </thead>
        <tbody>
        {% set tmpCustomer = '' %}
        {% for row in rows %}
            <tr data-row="{{ row.id }}"
                data-customer-id="{{ row.customer_id }}"
                data-provider-id="{{ row.provider_id }}"
                class="{{ (tmpCustomer and tmpCustomer != row.customer) ? 'bold-border' : '' }}"
            >
                <td>
                    <a href="{{ path('timetable_row_update', {'timetable': timetable.id, 'timetableRow': row.id}) }}">
                        <span class="glyphicon glyphicon-edit"></span>
                    </a>
                    <a href="{{ path('timetable_row_delete', {'timetable': timetable.id, 'timetableRow': row.id}) }}">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                </td>
                {% for column in columns %}
                    {% if column == 'manager' %}
                        <td><span class="tt-tooltip" title="{{ row.manager }}">{{ row.manager|truncate(12) }}</span> </td>
                    {% elseif column == 'customer' %}
                        <td><span class="tt-tooltip" title="{{ row.customer }}">{{ row.customer|truncate(12) }}</span> </td>
                    {% elseif column == 'provider' %}
                        <td><span class="tt-tooltip" title="{{ row.provider }}">{{ row.provider|truncate(12) }}</span> </td>
                    {% elseif column == 'object' %}
                        <td><span class="tt-tooltip" title="{{ row.object }}">{{ row.object|truncate(12) }}</span> </td>
                    {% elseif column == 'mechanism' %}
                        <td><span class="tt-tooltip" title="{{ row.mechanism }}">{{ row.mechanism|truncate(12) }}</span> </td>
                    {% elseif column == 'comment' %}
                        <td><span class="tt-tooltip" title="{{ row.comment }}">{{ row.comment|truncate(12) }}</span> </td>
                    {% elseif column == 'price_for_customer' %}
                        <td>{{ row.price_for_customer }}</td>
                    {% elseif column == 'price_for_provider' %}
                        <td>{{ row.price_for_provider }}</td>
                    {% elseif column == 'sum_times' %}
                        <td data-sum_times>{{ row.sum_times }}</td>
                    {% elseif column == 'times' %}
                        {% for day, time in row.times.times %}
                            <td>
                                <input class="times-input"
                                       data-id="{{ row.times.id }}"
                                       data-day="{{ day }}"
                                       type="text"
                                       data-value="{{ time }}"
                                       value="{{ time }}"
                                />
                                <a class="times-comment"
                                   data-type="textarea"
                                   data-pk="{{ row.times.id }}"
                                   data-name="{{ day }}"
                                   data-url="{{ path('timetable_row_times_update_comment', {'timetableRowTimes': row.times.id}) }}"
                                   data-value="{{ row.times.comments[day] }}"
                                >
                                    <span class="glyphicon glyphicon-certificate"></span>
                                </a>
                            </td>
                        {% endfor %}
                    {% elseif column == 'customer_salary' %}
                        <td data-customer_salary>{{ row.customer_salary }}</td>
                    {% elseif column == 'provider_salary' %}
                        <td data-provider_salary>{{ row.provider_salary }}</td>
                    {% elseif column == 'customer_paid' %}
                        <td data-customer_paid>{{ row.customer_paid }}</td>
                    {% elseif column == 'customer_balance' %}
                        <td data-customer_balance>{{ row.customer_balance }}</td>
                    {% elseif column == 'provider_paid' %}
                        <td data-provider_paid>{{ row.provider_paid }}</td>
                    {% elseif column == 'provider_balance' %}
                        <td data-provider_balance>{{ row.provider_balance }}</td>
                    {% elseif column == 'margin_sum' %}
                        <td data-margin_sum>{{ row.margin_sum }}</td>
                    {% elseif column == 'margin_percent' %}
                        <td data-margin_percent>{{ row.margin_percent }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% set tmpCustomer = row.customer %}
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/timetable.css') }}">
{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>
        $(function() {
            $('.timetable').bootstrapTable({
                fixedColumns: true,
                fixedNumber: {{ num_of_fixed }},
                height: 300,
                onPostBody: function() {
                    setTimeout(function() {
                        $('.tt-tooltip').tooltip({
                            trigger: 'click',
                            container: 'body'
                        });
                    }, 1000);
                }
            });

            $('.timetable .times-input').blur(function() {
                var $input = $(this);
                var id = $input.data('id');
                var day = $input.data('day');
                var oldValue = $input.data('value');
                var value = $input.val();

                if (value == '') {
                    $input.val(oldValue);
                    return;
                }

                if (value == oldValue) {
                    return;
                }

                var $tr = $input.closest('tr');
                var rowId = $tr.data('row');
                var customerId = $tr.data('customer-id');
                var providerId = $tr.data('provider-id');
                var $trById = $('[data-row="' + rowId + '"]');
                var $trByCustomer = $('[data-customer-id="' + customerId + '"]');
                var $trByProvider = $('[data-provider-id="' + providerId + '"]');

                $.ajax({
                    type: 'POST',
                    url: Routing.generate('timetable_row_times_update', {'timetableRowTimes': id}),
                    data: {
                        day: day,
                        value: value
                    },
                    beforeSend: function() {
                        $('.timetable .times-input').attr('disabled', 'disabled');
                    },
                    success: function(response) {
                        if (response.status === 'OK') {
                            $input.data('value', value);

                            var data = response.data;

                            $('[data-sum_times]', $trById).text(data.sum_times);
                            $('[data-customer_salary]', $trById).text(data.customer_salary);
                            $('[data-provider_salary]', $trById).text(data.provider_salary);
                            $('[data-margin_sum]', $trById).text(data.margin_sum);
                            $('[data-margin_percent]', $trById).text(data.margin_percent);
                            $('[data-customer_balance]', $trByCustomer).text(data.customer_balance);
                            $('[data-provider_balance]', $trByProvider).text(data.provider_balance);
                            $('[data-customer_paid]', $trByCustomer).text(data.customer_paid);
                            $('[data-provider_paid]', $trByProvider).text(data.provider_paid);
                        } else {
                            $input.val(oldValue);
                        }
                    },
                    error: function () {
                        $input.val(oldValue);
                    },
                    complete: function() {
                        $('.timetable .times-input').removeAttr('disabled');
                    }
                });
            });

            $('.timetable .times-comment').editable({
                container: 'body',
                display: function() {
                    return '';
                }
            });
        });
    </script>
{% endblock %}

