{% extends 'base.html.twig' %}

{% set page_header = null %}
{% set page_title = timetable.name %}

{% block body %}
    <div class="clearfix" style="margin: 10px 0;">
        <div class="timetable-toolbar btn-toolbar pull-left">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-success selectable-start">Выделить путевые</button>
                <button type="button" class="btn hidden selectable-color yellow" data-color="yellow">&nbsp;</button>
                <button type="button" class="btn hidden selectable-color green" data-color="green">&nbsp;</button>
                <button type="button" class="btn hidden selectable-color blue" data-color="blue">&nbsp;</button>
                <button type="button" class="btn hidden selectable-color purple" data-color="purple">&nbsp;</button>
                <button type="button" class="btn hidden selectable-color" data-color="no-color">&nbsp;</button>
                <button type="button" class="btn btn-default selectable-close hidden">
                    <span class="glyphicon glyphicon-ok"></span>
                </button>
                {% if not is_granted('ROLE_CUSTOMER_MANAGER') %}
                    <button type="button" class="btn btn-default show-empty">Только незаполненные</button>
                {% endif %}
            </div>
        </div>
        <div class="btn-group pull-right" role="group">
            <div class="block-group plan-wrapper">
                    <span class="label label-info hide">
                        План на текущий месяц: <b class="plan-amount"></b>
                    </span>
                <span class="label label-success hide">
                        Текущее выполнение: <b class="plan-completed"></b>
                        (<b class="plan-completed-percent"></b>)
                    </span>
                <span class="label label-warning hide">
                        Осталось до выполнения плана: <b class="plan-left"></b>
                        (<b class="plan-left-percent"></b>)
                </span>
            </div>
            <a class="btn btn-primary" href="{{ path('timetable_row_create', {'timetable': timetable.id}) }}">
                Добавить запись
            </a>
            <a class="btn btn-success" href="{{ path('timetable_payment_create', {'timetable': timetable.id}) }}">
                Добавить оплату
            </a>
            <a class="btn btn-default" href="{{ path('timetable_export', {'timetable': timetable.id, 'show': view_mode}) }}">
                Экспорт
            </a>
            {% if is_granted('ROLE_MANAGER') %}
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Изменить вид
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('homepage') }}">Обычный</a></li>
                    <li><a href="{{ path('homepage', {'show': 'customer_manager', 'id': timetable.id}) }}">Менеджер по продажам</a></li>
                    <li><a href="{{ path('homepage', {'show': 'provider_manager', 'id': timetable.id}) }}">Менеджер по снабжению</a></li>
                    <li><a href="{{ path('homepage', {'show': 'dispatcher', 'id': timetable.id}) }}">Диспетчер</a></li>
                    <li><a href="{{ path('homepage', {'show': 'all', 'id': timetable.id}) }}">Показать всё</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="timetable_container" class="row" style="margin: 10px 0 0;">
        <table id="timetable" class="timetable" data-id="{{ timetable.id }}" data-url="{{ path('timetable_data', {'timetable': timetable.id, 'show': view_mode}) }}">
            <thead>
            <tr>
                <th data-field="controls" data-formatter="cellFormatter" class="timetable-fixed-cell controls">&nbsp;</th>
                {% for column in columns %}
                    {% set class = column %}
                    {% if column in fixed_columns %}
                        {% set class = class ~ ' timetable-fixed-cell' %}
                    {% endif %}
                    {% if column == 'manager' %}
                        <th data-field="manager" data-formatter="cellFormatter" data-filter-data="json:{{ managers_by_fio|json_encode }}" data-filter-control="select" class="{{ class }}">Менеджер</th>
                    {% elseif column == 'provider_manager' %}
                        <th data-field="provider_manager" data-formatter="cellFormatter" data-filter-data="json:{{ provider_managers_by_fio|json_encode }}" data-filter-control="select" class="{{ class }}">МС</th>
                    {% elseif column == 'customer' %}
                        <th data-field="customer" data-formatter="cellFormatter" data-filter-control="input" class="{{ class }}">Заказчик</th>
                    {% elseif column == 'provider' %}
                        <th data-field="provider" data-formatter="cellFormatter" data-filter-control="input" class="{{ class }} provider-cell">Поставщик</th>
                    {% elseif column == 'object' %}
                        <th data-field="object" data-formatter="cellFormatter" data-filter-control="input" class="{{ class }}">Объект</th>
                    {% elseif column == 'mechanism' %}
                        <th data-field="mechanism" data-formatter="cellFormatter" data-filter-control="input" class="{{ class }}">Механизм</th>
                    {% elseif column == 'comment' %}
                        <th data-field="comment" data-formatter="cellFormatter" data-filter-control="input" class="{{ class }}">Комментарий</th>
                    {% elseif column == 'price_for_customer' %}
                        <th data-field="price_for_customer" data-formatter="cellFormatter" class="{{ class }}">Цена заказчику</th>
                    {% elseif column == 'price_for_provider' %}
                        <th data-field="price_for_provider" data-formatter="cellFormatter" class="{{ class }} provider-cell">Цена постав-ка</th>
                    {% elseif column == 'sum_times' %}
                        <th data-field="sum_times" data-formatter="cellFormatter" class="{{ class }}">Сумма часов</th>
                    {% elseif column == 'times' %}
                        {% for i in 1..31 %}
                            <th data-field="times_{{ i }}" data-formatter="cellFormatter" class="{{ class ~ (i == 16 ? ' bold-border' : '') }}">{{ i }}</th>
                        {% endfor %}
                    {% elseif column == 'customer_salary' %}
                        <th data-field="customer_salary" data-formatter="cellFormatter" class="{{ class }}">Наработка<br>заказчика</th>
                    {% elseif column == 'provider_salary' %}
                        <th data-field="provider_salary" data-formatter="cellFormatter" class="{{ class }} provider-cell">Наработка<br>поставщика</th>
                    {% elseif column == 'customer_paid' %}
                        <th data-field="customer_paid" data-formatter="cellFormatter" class="{{ class }}">Оплачено<br>заказчиком</th>
                    {% elseif column == 'customer_balance' %}
                        <th data-field="customer_balance" data-formatter="cellFormatter" class="{{ class }}">Баланс<br>заказчика</th>
                    {% elseif column == 'provider_paid' %}
                        <th data-field="provider_paid" data-formatter="cellFormatter" class="{{ class }} provider-cell">Оплачено<br>поставщику</th>
                    {% elseif column == 'provider_balance' %}
                        <th data-field="provider_balance" data-formatter="cellFormatter" class="{{ class }} provider-cell">Баланс<br>поставщика</th>
                    {% elseif column == 'margin_sum' %}
                        <th data-field="margin_sum" data-formatter="cellFormatter" class="{{ class }}">Маржа,<br>сумма</th>
                    {% elseif column == 'margin_percent' %}
                        <th data-field="margin_percent" data-formatter="cellFormatter" class="{{ class }}">Маржа,<br>%</th>
                    {% endif %}
                {% endfor %}
            </tr>
            </thead>
        </table>
        <div class="timetable-loader"></div>
    </div>
{% endblock %}

{% block stylesheets %} {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/timetable.css') }}">
{% endblock %}

{% block javascripts %} {{ parent() }}
    <script>
        $(function() {
            var timetableId = '{{ timetable.id }}';
            var timetableUpdated = '{{ timetable.updated.timestamp }}';

            var offset = $('#timetable_container').offset();
            var height = $(window).height() - offset.top;
            var tmpCustomer = '';

            var showLoader = function() {
                 $('.timetable-loader').show();
            };

            var hideLoader = function() {
                 $('.timetable-loader').hide();
            };

            cellFormatter = function(value, row, index, field) {
                if (!field) {
                    if (typeof value === 'object') {
                        return JSON.stringify(value);
                    } else {
                        return value;
                    }
                }
                if (field.match(/times_/)) {
                    var html = '<div class="times-item hidden">' + value.time + '</div>';
                    html += '<input class="times-input" type="text" data-value="' + value.time + '" value="' + value.time + '"/>';
                    html += ('<a class="times-comment ' + (value.comment ? '' : 'text-muted') + '"' +
                                'data-type="textarea"' +
                                'data-pk="' + value.id + '"' +
                                'data-name="' + value.day + '"' +
                                'data-url="' + value.comment_url + '"' +
                                'data-value="' + value.comment + '">' +
                                '<span class="glyphicon glyphicon-certificate"></span>' +
                            '</a>');
                    return html;
                }
                switch (field) {
                    case 'controls':
                        return '<a href="' + value.update + '"><span class="glyphicon glyphicon-edit"></span></a>' +
                            '<a class="delete-confirm" onclick="deleteConfirm(\''+ value.delete +'\')" href="javascript: void(0)">' +
                                '<span class="glyphicon glyphicon-remove"></span>' +
                            '</a>';
                    case 'object':
                    case 'mechanism':
                    case 'comment':
                    case 'price_for_customer':
                        value = value || '';
                        return '<div class="tt-tooltip" title="' + value + '">' + value + '</div>';
                    case 'provider':
                    case 'customer':
                        if (value) {
                            return '<div class="tt-tooltip" title="' + value.name + '">' +
                                '<a href="' + value.url + '">' + value.name + '</a>' +
                                '</div>';
                        }
                        return '';
                    case 'sum_times':
                        return value + '<a class="row-act-toggle"><span class="glyphicon glyphicon-certificate"></span></a>';
                    default:
                        return value;
                }
            };

            $('#timetable').bootstrapTable({
                fixedColumns: true,
                fixedNumber: {{ num_of_fixed }},
                filterControl: true,
                disableControlWhenSearch: true,
                height: height,
                uniqueId: 'id',
                rowAttributes: function (row, index) {
                    return {
                        'data-row': row.id,
                        'data-customer-id': row.customer_id,
                        'data-provider-id': row.provider_id,
                    };
                },
                rowStyle: function (row, index) {
                    var output = {
                        classes: (row.customer_id !== tmpCustomer && tmpCustomer !== '') ? 'bold-border' : ''
                    };

                    tmpCustomer = row.customer_id;

                    return output;
                },
                onPostBody: function() {
                    hideLoader();
                }
            });

            $(document).on('blur', '#timetable .times-input', function() {
                var $input = $(this);
                var $td = $input.parent('td');

                var id = $td.data('id');
                var day = $td.data('day');
                var oldValue = $input.data('value');
                var value = $input.val();

                if (value === '') {
                    $input.val(oldValue);
                    return;
                }

                if (value === oldValue) {
                    return;
                }

                $.ajax({
                    type: 'POST',
                    url: Routing.generate('timetable_row_times_update', {'timetableRowTimes': id, 'show': '{{ view_mode}}'}),
                    data: {
                        day: day,
                        value: value
                    },
                    beforeSend: function() {
                        showLoader();
                    },
                    success: function(response) {
                        if (response.status === 'OK') {
                            $input.data('value', value);
                            var data = response.data;

                            $('#timetable').bootstrapTable('updateTimetable', data);
                            hideLoader();
                        } else {
                            $input.val(oldValue);
                            hideLoader();
                        }
                    },
                    error: function () {
                        $input.val(oldValue);
                        hideLoader();
                    }
                });
            });

            $('.selectable-start').click(function() {
                $(this).addClass('hidden');
                $(this).nextAll('.btn').removeClass('hidden');

                $('#timetable .times-input').addClass('hidden');
                $('#timetable .times-item').removeClass('hidden');
            });

            $('.selectable-close').click(function() {
                $(this).addClass('hidden');
                $(this).prevAll('.btn').addClass('hidden');
                $('.selectable-start').removeClass('hidden');

                $('#timetable .times-input').removeClass('hidden');
                $('#timetable .times-item').addClass('hidden');
            });

            $('.selectable-color').click(function() {
                var $selected = $('.times-item.ui-selected'),
                    color = $(this).data('color'),
                    data = []
                ;
                $selected.each(function(i) {
                    var $td = $(this).parent('td');

                    data[i] = {
                        id: $td.data('id'),
                        day: $td.data('day'),
                    };
                });

                $.ajax({
                    type: 'POST',
                    url: Routing.generate('timetable_row_times_update_colors', {color: color}),
                    data: {
                        data: data
                    },
                    beforeSend: function() {
                        $('.ui-selectable').selectable('disable');
                        $('.selectable-color').attr('disabled', 'disabled');
                    },
                    success: function(response) {
                        $selected.removeClass('ui-selected');
                        $selected.parent('td').removeClass('red green blue yellow purple');
                        if (color !== 'no-color') {
                            $selected.parent('td').addClass(color);
                        }
                    },
                    complete: function() {
                        $('.ui-selectable').selectable('enable');
                        $('.selectable-color').removeAttr('disabled');
                    }
                });
            });

            setInterval(function() {
                $.ajax({
                    url: Routing.generate('timetable_check_update', {timetable: timetableId, time: timetableUpdated}),
                    success: function (response) {
                        if (response !== 'OK') {
                            timetableUpdated = response;

                            showLoader();
                            $('#timetable').bootstrapTable('refresh', {silent: true});
                        }
                    }
                });
            }, 20000);

            $('.show-empty').click(function() {
                var isActive = $(this).hasClass('active');
                $(this).toggleClass('active');

                if (isActive) {
                    $('#timetable').bootstrapTable('filterBy');
                } else {
                    $('#timetable').bootstrapTable('filterBy', {
                        provider: null
                    });
                }
            });
        });
    </script>
{% endblock %}

