{% extends 'base.html.twig' %}

{% set page_header = 'Организации' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="btn-group pull-right" role="group">
                <a class="btn btn-primary" href="{{ path('organisation_create') }}">
                    Добавить организацию
                </a>
            </div>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th class="col-md-3">&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            {% for organisation in pagination %}
                <tr>
                    <td>{{ organisation.id }}</td>
                    <td><a href="{{ path('organisation_update', {'organisation': organisation.id}) }}">{{ organisation.name }}</a></td>
                    <td>
                        <a href="{{ path('organisation_update', {'organisation': organisation.id}) }}" class="btn-sm btn btn-default">Редактировать</a>
                        <a href="{{ path('organisation_delete', {'organisation': organisation.id}) }}" class="btn-sm btn btn-danger">Удалить</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    </div>
{% endblock %}
